
 /********* Canvas*************/
 
 #canvas
 {
      position:fixed;
      /* background-color: #032731; */
      background-image: linear-gradient(to right, #5dc1ad, #032731);
      width: 100%;
      height: 700px;
}
      
  
#titleheader
{
      font-family: 'Oswald', sans-serif;
}

#textcopy
{
      font-family: 'Open Sans', sans-serif;
}
.card-content
{
      text-align: center;
}
.card.large
{
      padding: 60px, 20px, 20px, 20px;
}